<html>
    <head>
        <title>Landing Page</title>
        <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css"><!-- Ionicons-->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Tempusdominus Bbootstrap 4-->
        <link rel="stylesheet" href="plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css"><!-- iCheck-->
        <link rel="stylesheet" href="plugins/icheck-bootstrap/icheck-bootstrap.min.css"><!-- JQVMap-->
        <link rel="stylesheet" href="plugins/jqvmap/jqvmap.min.css"><!-- Theme style-->
        <link rel="stylesheet" href="dist/css/adminlte.min.css"><!-- overlayScrollbars-->
        <link rel="stylesheet" href="plugins/overlayScrollbars/css/OverlayScrollbars.min.css"><!-- Daterange picker-->
        <link rel="stylesheet" href="plugins/daterangepicker/daterangepicker.css"><!-- summernote-->
        <link rel="stylesheet" href="plugins/summernote/summernote-bs4.css"><!-- Google Font: Source Sans Pro-->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
        <!-- flag-icon-->
        <link rel="stylesheet" href="plugins/flag-icon-css/css/flag-icon.min.css">
        <!--Pretty Print JSON-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-print-json@1.0/dist/pretty-print-json.css">
        <link rel="stylesheet" href="/public/css/css/custom.css">
    </head>
    <body>
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Sidebar-->
            <div class="sidebar">
                <!-- Sidebar Menu-->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <li class="nav-header">NAVIGATION</li>
                        <li class="nav-item"><a class="nav-link" href="/" id="load"><i class="nav-icon fas fa-home"></i>
                                <p>Home</p>
                            </a></li>
                        <li class="nav-item"><a class="nav-link" href="/homepage"><i
                                    class="nav-icon fas fa-file-excel"></i>
                                <p>Homepage UI</p>
                            </a></li>
                        <li class="nav-item"><a class="nav-link" href="/lookup" id="load"><i
                                    class="nav-icon fas fa-search"></i>
                                <p>Order Lookup UI</p>
                            </a></li>
                        <li class="nav-item"><a class="nav-link" href="/homepage2"><i
                                class="nav-icon fas fa-file-excel"></i>
                            <p>Homepage UI 2</p>
                        </a></li>
                        <li class="nav-item"><a class="nav-link" href="/report" id="load"><i
                                class="nav-icon fas fa-search"></i>
                            <p>Report Page UI</p>
                        </a></li>
                    </ul>
                </nav><!-- /.sidebar-menu-->
                <!-- /.sidebar-->
            </div>
        </aside>
              <!-- Content Wrapper. Contains page content-->
      <div class="content-wrapper">
        <!-- Content Header (Page header)-->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6"><h1 class="m-0 text-dark"></h1></div>
              <!-- /.col-->
            </div>
            <!-- /.row-->
          </div>
          <!-- /.container-fluid-->
        </div>
        <row>
        <h2> Welcome! This application exists as means to display some of the UI work I have completed during my 2021 internship.</h2>
        </row>
    </body>
</html>